@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
    font-display: swap;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: orange;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #9400d3;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-small {
    max-width: 40px;
    max-height: 40px;
}
.navbar__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar__item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar__link {
    text-decoration: none;
    color: #fff;
}
.navbar__callback {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    line-height: 16px;
}
.navbar__contacts{
    text-align: right;
}
.navbar__phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 20px;
}

.main__info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.house path {
    opacity: 0;
}
.house path:hover {
    opacity: 1;
    cursor: pointer;
}

.counter__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter__button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter__arrow-down {
    transform: rotateX(180deg);
}
.main__title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;
    color: orange;
}
.floor__counter {
    color: orange;
    font-family: "Bebas Neue", sans-serif;
    font-size: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button__primary {
    background: orange;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;

}
path.current__floor {
    opacity: 1;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}
.is-open {
    opacity: 1;
    transform: scale(1);
}
.modal__window {
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.is-open > .modal__window {
    opacity: 1;
    transform: translateY(0);
}
.modal__image {
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.flats path {
    opacity: 0;
    cursor: pointer;
}
.flats path:hover {
    opacity: 1;
}
.modal__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 20px;
}
.modal__info {
    width: 40%;
    padding: 50px 46px;
}
.flat__list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat__item {
    margin-bottom: 10px;
}
.flat__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}
.flat__link:hover {
    color: blue;
    text-decoration: underline;
}
.flats .flat-path-mouseover {
    opacity: 1;
  }
.flat-link-mouseover {
    color: #3596F5;
    text-decoration: underline;
  }
.modal__alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal__close-button {
    position: absolute;
    right: 27px;
    top:38px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}